<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Catalog\Controller\Product\View">
		<plugin name="product-view-controller-plugin" type="Unit2\WorkingWithControllers\Controller\Product\View" sortOrder="10"/>
	</type>
</config>