<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Unit1\FirstModule\Api\ProductRepositoryInterface" type="Magento\Catalog\Model\ProductRepository" />
	<type name="Unit1\FirstModule\MagentoU\Test">
		<arguments>
			<argument name="justAParameter" xsi:type="string">Hello world!</argument>
			<argument name="data" xsi:type="array">
				<item name="test-array-item" xsi:type="string">Test Array Item!!!</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Catalog\Model\Product">
        <plugin name="unit1_firstmodule_price" type="Unit1\FirstModule\Model\Plugin\ChangePrice" />
    </type>
    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="unit1_firstmodule_copyright" type="Unit1\FirstModule\Model\Plugin\ChangeCopyright" />
    </type>
    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="unit1_firstmodule_breadcrumbs" type="Unit1\FirstModule\Model\Plugin\ChangeBreadcrumbs" />
    </type>
</config>